In [1]:
import pandas as pd

In [9]:
#D and F of DataFrame is always capital
#creating DataFrame using list

l = [1,2,3,4,5,6]

df = pd.DataFrame(l)

print(type(df))
df

<class 'pandas.core.frame.DataFrame'>

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [3]:
#creating DataFrame using Dictionary
#key works as column and values works as rows

dic = {"A":[1,2,3,4],"B":[1,2,3,4]}   #data should be equal while creating DataFrame

df1 = pd.DataFrame(dic)

print(type(df1))
df1

<class 'pandas.core.frame.DataFrame'>

   A  B
0  1  1
1  2  2
2  3  3
3  4  4

In [4]:
#accessing particular column
dic = {"A":[1,2,3,4],"B":[1,2,3,4]}  

df1 = pd.DataFrame(dic, columns = ["A"]) #passing column name 

print(type(df1))
df1

<class 'pandas.core.frame.DataFrame'>

   A
0  1
1  2
2  3
3  4

In [5]:
#changing index number
dic = {"A":[1,2,3,4],"B":[1,2,3,4]}  

df1 = pd.DataFrame(dic, index=[1,2,3,4]) 

print(type(df1))
df1

<class 'pandas.core.frame.DataFrame'>

   A  B
1  1  1
2  2  2
3  3  3
4  4  4

In [6]:
#accessing particular data
#takes two parameter: column name and row number
print(df1["A"][2])

2

***Nested list to create DataFrame***

In [7]:
lis = [[1,2,3,4],[5,6,7,8]]

var = pd.DataFrame(lis)
var

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

***Using Series to create DataFrame***

In [8]:
sr = {"Adi":pd.Series([1,2,4,5]), "Mahir":pd.Series([5,6,7,8])}

var2 = pd.DataFrame(sr)
var2

   Adi  Mahir
0    1      5
1    2      6
2    4      7
3    5      8