In [1]:
import pandas as pd

In [10]:
#creating series using list
#S of Series is always capital
x = [3,4,5,6,7,8]

data = pd.Series(x)
print(data)
print(type(data))

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
#accessing elemnts through index number
print(data[3])

6

In [7]:
#changing index number of Series
x = [3,4,5,6]

data = pd.Series(x, index=['A','B','C','D'])
print(data)

A    3
B    4
C    5
D    6
dtype: int64

In [8]:
#changing data type of elements of Series
x = [3,4,5,6]

data = pd.Series(x, index=['A','B','C','D'], dtype="float")
print(data)

A    3.0
B    4.0
C    5.0
D    6.0
dtype: float64

In [9]:
#declaring the name of data
x = [3,4,5,6]

data = pd.Series(x, index=['A','B','C','D'], dtype="float", name="Numbers")
print(data)

A    3.0
B    4.0
C    5.0
D    6.0
Name: Numbers, dtype: float64

**Series using Dictionary:**

In [12]:
dic = {"Name":['Python','Java','C++'],"Rank":[1,2,3]}

y = pd.Series(dic)
print(y)

Name    [Python, Java, C++]
Rank              [1, 2, 3]
dtype: object

In [14]:
#creatng Series using single data
s = pd.Series(12)
print(s)

0    12
dtype: int64

In [15]:
#creatng multiple Series of same single data
s = pd.Series(12, index=[1,2,3,4,5])
print(s)

1    12
2    12
3    12
4    12
5    12
dtype: int64

In [17]:
#adding two series
'''In numpy if we try to add array of different dimesnsion then it will give error 
while Pandas series allow it'''

s1 = pd.Series(12, index=[1,2,3,4,5])
s2 = pd.Series(12, index=[1,2,3])

print(s1+s2)

1    24.0
2    24.0
3    24.0
4     NaN
5     NaN
dtype: float64