In [5]:
#list is heterogenous in nature which means it can store multiple datatypes
a = [1,2,3,4,5]
print(a)

[1, 2, 3, 4, 5]

In [7]:
#find the length
len(a)

5

In [8]:
c = ['a','b','c','d','e']
print(c)

['a', 'b', 'c', 'd', 'e']

In [11]:
#used to join lists
a.extend(c)
print(a)

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [13]:
#to insert an element at specific position
a.insert(2,6)
print(a)

[1, 2, 6, 6, 3, 4, 5, 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [21]:
#remove specific items from list
n = ['a','b','c']
n.remove('b')
print(n)

['a', 'c']

In [15]:
#remove items from specific postion through index number as its parameter
a.pop(5)
print(a)

[1, 2, 6, 3, 4, 'a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e']

In [18]:
#returns the list after all the items removed from list
a.clear()
print(a)

[]

In [19]:
b = [2,3,4,5]
print(b)

[2, 3, 4, 5]

In [20]:
#returns index number of elements
b.index(4)

2

In [22]:
#returns the occurence of element within the sequence
b.count(3)

1

In [28]:
#arrange the list in descending order when reverse = True else ascending order
b.sort(reverse = True)
print(b)

[5, 4, 3, 2]

In [29]:
#checking element inside list using membership operator
5 in b

True

In [31]:
#slicing
b[0:]

[5, 4, 3, 2]

In [32]:
b[1:3]

[4, 3]

In [33]:
b[0:3:1]

[5, 4, 3]

In [36]:
b[-1:0:-1]

[2, 3, 4]

In [40]:
#list comprehension
d = [i for i in range(1,10)]
print(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [41]:
e = [i for i in range(1,10) if i%2==0]
print(e)

[2, 4, 6, 8]

In [1]:
#nested list
l = [1,2,3,[4,5,6]]
print(l)

[1, 2, 3, [4, 5, 6]]

In [4]:
#accessing nested list elements
#suppose we have to access 4
#first we will pass the index of nest list and then pass the index of elements of nested list that you wanted to access
l[3][0]

4

In [10]:
#accessing elements of list
#when we use len() to iterate over list,it don't print those elements of list which are characters
e = [1,2,3,'a','b']
t = len(e)
for i in range(t):
    print(i)

0
1
2
3
4

In [11]:
for i in e:
    print(i)

1
2
3
a
b

In [16]:
#reversing elements of list using for loop and negative indexing
l = [10,20,30,40,50,60]
h = len(l)
for i in range(h-1,0,-1):
    print(l[i])

60
50
40
30
20

In [18]:
#updating values of list through index number
l[2] = 25
print(l)

[10, 20, 25, 40, 50, 60]

In [19]:
#different ways of implementing lists
y = []
for i in range(1,11):
    y.append(i)
print(y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [20]:
n = [i for i in range(1,12)]
print(n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [22]:
lis = [1,2,3,56,34,98]
print(lis)

[1, 2, 3, 56, 34, 98]

In [23]:
#returns maximum elements of a list
max(lis)

98

In [24]:
#returns minimum elements of list
min(lis)

1

In [26]:
mess = ['Hello','World']
max(mess)

'World'

In [27]:
min(mess)

'Hello'

In [29]:
#iterating over 2 lists at the same time
#zip() is used to iterate over two or more lists or tuple at the same tiem
#both lists or tuples must have equal number of elements else zip() ignores extra element
l1 = [1,2,3,4]
l2 = [5,6,7,8]

for a,b in zip(l1,l2):
    print(a,b)

1 5
2 6
3 7
4 8

In [ ]:
#converting string into list