In [1]:
import sqlite3

In [2]:
#connecting to database
con = sqlite3.connect('database.db')

In [14]:
#displaying data from database
data = con.execute("SELECT * FROM student")
print("STUDENT ID", "STUDENT NAME" ,"STUDENT CLASS" ,"STUDENT EMAIL")
for n in data:
    print(n)

STUDENT ID STUDENT NAME STUDENT CLASS STUDENT EMAIL
(None, 'Aditya', 'BCADS21', 'aditya@gmail.com')
(None, 'Rahul', 'BCADS21', 'rahul@gmail.com')
(None, 'Mahir', 'BCADS21', 'mahir@gmail.com')
(None, 'Mansi', 'BCADS21', 'mansi@gmail.com')
(None, 'Aditya', 'BCADS21', 'aditya@gmail.com')
(None, 'Rahul', 'BCADS21', 'rahul@gmail.com')
(None, 'Mahir', 'BCADS21', 'mahir@gmail.com')
(None, 'Mansi', 'BCADS21', 'mansi@gmail.com')

In [9]:
#using index number to access particular record
data = con.execute("SELECT * FROM student")
print("STUDENT ID", "STUDENT NAME" ,"STUDENT CLASS" ,"STUDENT EMAIL")
for n in data:
    print(n[0],"      ",n[1],"       ",n[2], "      ",n[3])    #giving space for better readibility

STUDENT ID STUDENT NAME STUDENT CLASS STUDENT EMAIL
None        Aditya         BCADS21        aditya@gmail.com
None        Rahul         BCADS21        rahul@gmail.com
None        Mahir         BCADS21        mahir@gmail.com
None        Mansi         BCADS21        mansi@gmail.com
None        Aditya         BCADS21        aditya@gmail.com
None        Rahul         BCADS21        rahul@gmail.com
None        Mahir         BCADS21        mahir@gmail.com
None        Mansi         BCADS21        mansi@gmail.com

In [11]:
#using limit method to display particular range of records
#in limit we have to define two arguments : first is starting position and second is number of records we want
data = con.execute("SELECT * FROM student limit 0,2 ")

print("STUDENT ID", "STUDENT NAME" ,"STUDENT CLASS" ,"STUDENT EMAIL")
for n in data:
    print(n[0],"      ",n[1],"       ",n[2], "      ",n[3])    #giving space for better readibility

STUDENT ID STUDENT NAME STUDENT CLASS STUDENT EMAIL
None        Aditya         BCADS21        aditya@gmail.com
None        Rahul         BCADS21        rahul@gmail.com

In [12]:
data = con.execute("SELECT * FROM student limit 2,2 ")

print("STUDENT ID", "STUDENT NAME" ,"STUDENT CLASS" ,"STUDENT EMAIL")
for n in data:
    print(n[0],"      ",n[1],"       ",n[2], "      ",n[3])

STUDENT ID STUDENT NAME STUDENT CLASS STUDENT EMAIL
None        Mahir         BCADS21        mahir@gmail.com
None        Mansi         BCADS21        mansi@gmail.com

In [15]:
#deleting records 

#taking input from user which record to delete
st_id = input("Enter the student Id:- ")
con.execute(" DELETE FROM student where st_id = "+st_id)

#commiting changes
con.commit()
con.close()

Enter the student Id:-  3