In [1]:
#sqlite3 is a library that is used to create database in python
import sqlite3

In [3]:
#sqlite3.connect() function is used to create a database file
#It automatically get connected to that db file
#the file extension should always be .db
con = sqlite3.connect('database.db')
cursor = con.cursor()

In [4]:
#creating table and initializing attributes
#we create table and its attributes within .execute() function
con.execute('''
    Create table student(
        st_id INT AUTO_Increment PRIMARY KEY,
        st_name VARCHAR(50),
        st_class VARCHAR(10),
        st_email VARCHAR(60)
      )
    ''')

In [8]:
#inserting data
insert_data = [
    ('Aditya','BCADS21','aditya@gmail.com'),
    ('Rahul','BCADS21','rahul@gmail.com'),
    ('Mahir','BCADS21','mahir@gmail.com'),
    ('Mansi','BCADS21','mansi@gmail.com')
]
      
# SQL statement for insertion
sql_insert = "INSERT INTO student (st_name, st_class, st_email) VALUES (?, ?, ?)"

# Execute the SQL statement with executemany()
cursor.executemany(sql_insert, insert_data)

con.commit()

# Close the connection
con.close()