In [1]:
import pandas as pd

In [9]:
data = pd.read_csv("C:\\Users\\PC\\Downloads\\JamesBondMovies.csv")

In [10]:
data

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [11]:
#getting index number
data.index

RangeIndex(start=0, stop=26, step=1)

In [12]:
#getting column
data.columns

Index(['Film', 'Year', 'Actor', 'Director', 'Box Office', 'Budget',
       'Bond Actor Salary'],
      dtype='object')

In [14]:
#using describe function to get information about data
#works only on numerical data
data.describe()

              Year  Box Office      Budget  Bond Actor Salary
count    26.000000   26.000000   26.000000          18.000000
mean   1983.576923  491.611538   80.719231           6.850000
std      16.295209  176.740396   57.097608           4.805175
min    1962.000000  250.900000    7.000000           0.600000
25%    1969.500000  375.350000   38.450000           3.575000
50%    1982.000000  461.750000   60.050000           5.500000
75%    1996.500000  534.500000  123.300000           8.850000
max    2015.000000  943.500000  206.300000          17.900000

***head and tail function***

In [16]:
#get top data
#by default its show top 5 data
data.head(10)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [18]:
#getting data from last
#by defualt its how last 5 data
data.tail(6)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

***slicing data***

In [21]:
#can take upto three parameters- start:end:step
data[6:10]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN

In [22]:
data[6:10:2]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN

In [23]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

***converting index in array***

In [24]:
data.index.array

<NumpyExtensionArray>
[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
 19, 20, 21, 22, 23, 24, 25]
Length: 26, dtype: int64

**Converting DataFrame or data into numpy**

♦First way:-  variable_name.to_numpy()

♦Second way:- a = np.asarray(name_of_variable_)

***sorting***

In [25]:
data.sort_index(axis=0, ascending=False)  #sorting according to rows

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
25,Spectre,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6

In [26]:
data.sort_index(axis=1, ascending=False)  #sorting according to column

,Year,Film,Director,Budget,Box Office,Bond Actor Salary,Actor
0,1962,Dr. No,Terence Young,7.0,448.8,0.6,Sean Connery
1,1963,From Russia with Love,Terence Young,12.6,543.8,1.6,Sean Connery
2,1964,Goldfinger,Guy Hamilton,18.6,820.4,3.2,Sean Connery
3,1965,Thunderball,Terence Young,41.9,848.1,4.7,Sean Connery
4,1967,Casino Royale,Ken Hughes,85.0,315.0,NaN,David Niven
5,1967,You Only Live Twice,Lewis Gilbert,59.9,514.2,4.4,Sean Connery
6,1969,On Her Majesty's Secret Service,Peter R. Hunt,37.3,291.5,0.6,George Lazenby
7,1971,Diamonds Are Forever,Guy Hamilton,34.7,442.5,5.8,Sean Connery
8,1973,Live and Let Die,Guy Hamilton,30.8,460.3,NaN,Roger Moore
9,1974,The Man with the Golden Gun,Guy Hamilton,27.7,334.0,NaN,Roger Moore
10,1977,The Spy Who Loved Me,Lewis Gilbert,45.1,533.0,NaN,Roger Moore
11,1979,Moonraker,Lewis Gilbert,91.5,535.0,NaN,Roger Moore
12,1981,For Your Eyes Only,John Glen,60.2,449.4,NaN,Roger Moore
13,1983,Never Say Never Again,Irvin Kershner,86.0,380.0,NaN,Sean Connery
14,1983,Octopussy,John Glen,53.9,373.8,7.8,Roger Moore
15,1985,A View to a Kill,John Glen,54.5,275.2,9.1,Roger Moore
16,1987,The Living Daylights,John Glen,68.8,313.5,5.2,Timothy Dalton
17,1989,Licence to Kill,John Glen,56.7,250.9,7.9,Timothy Dalton
18,1995,GoldenEye,Martin Campbell,76.9,518.5,5.1,Pierce Brosnan
19,1997,Tomorrow Never Dies,Roger Spottiswoode,133.9,463.2,10.0,Pierce Brosnan
20,1999,The World Is Not Enough,Michael Apted,158.3,439.5,13.5,Pierce Brosnan
21,2002,Die Another Day,Lee Tamahori,154.2,465.4,17.9,Pierce Brosnan
22,2006,Casino Royale,Martin Campbell,145.3,581.5,3.3,Daniel Craig
23,2008,Quantum of Solace,Marc Forster,181.4,514.2,8.1,Daniel Craig
24,2012,Skyfall,Sam Mendes,170.2,943.5,14.5,Daniel Craig
25,2015,Spectre,Sam Mendes,206.3,726.7,NaN,Daniel Craig

***changing data within dataset***

In [29]:
#takes three parameters:- row number:column name:the value which we want to update
data.loc[25,"Film"]="spectrum"

data

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,film
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,nan
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,nan
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,nan
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,nan
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,nan
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,nan
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,nan
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,nan
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN,nan
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN,nan
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN,nan
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN,nan
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,nan
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN,nan
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,nan
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,nan
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,nan
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,nan
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,nan
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,nan
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,nan
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,nan
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,nan
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,nan
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,nan
25,spectrum,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,spectrum

***acessing specific data***

In [30]:
#parameters:- row number and column name
data.loc[[2,3],["Film","Actor"]]

          Film         Actor
2   Goldfinger  Sean Connery
3  Thunderball  Sean Connery

In [31]:
data.loc[:,["Film","Actor"]]

                               Film           Actor
0                            Dr. No    Sean Connery
1             From Russia with Love    Sean Connery
2                        Goldfinger    Sean Connery
3                       Thunderball    Sean Connery
4                     Casino Royale     David Niven
5               You Only Live Twice    Sean Connery
6   On Her Majesty's Secret Service  George Lazenby
7              Diamonds Are Forever    Sean Connery
8                  Live and Let Die     Roger Moore
9       The Man with the Golden Gun     Roger Moore
10             The Spy Who Loved Me     Roger Moore
11                        Moonraker     Roger Moore
12               For Your Eyes Only     Roger Moore
13            Never Say Never Again    Sean Connery
14                        Octopussy     Roger Moore
15                 A View to a Kill     Roger Moore
16             The Living Daylights  Timothy Dalton
17                  Licence to Kill  Timothy Dalton
18                        GoldenEye  Pierce Brosnan
19              Tomorrow Never Dies  Pierce Brosnan
20          The World Is Not Enough  Pierce Brosnan
21                  Die Another Day  Pierce Brosnan
22                    Casino Royale    Daniel Craig
23                Quantum of Solace    Daniel Craig
24                          Skyfall    Daniel Craig
25                         spectrum    Daniel Craig

In [32]:
data.loc[[2,3],:]

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,film
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,nan
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,nan

In [34]:
#parameters row number:column number
data.iloc[0,2]

'Sean Connery'

***dropping row or column***

In [40]:
#dropping column
#column name and axis
data.drop("film",axis=1)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN
11,Moonraker,1979,Roger Moore,Lewis Gilbert,535.0,91.5,NaN
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5
25,spectrum,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN

In [41]:
#removing row
#row number and axis
data.drop(11,axis=0)

,Film,Year,Actor,Director,Box Office,Budget,Bond Actor Salary,film
0,Dr. No,1962,Sean Connery,Terence Young,448.8,7.0,0.6,nan
1,From Russia with Love,1963,Sean Connery,Terence Young,543.8,12.6,1.6,nan
2,Goldfinger,1964,Sean Connery,Guy Hamilton,820.4,18.6,3.2,nan
3,Thunderball,1965,Sean Connery,Terence Young,848.1,41.9,4.7,nan
4,Casino Royale,1967,David Niven,Ken Hughes,315.0,85.0,NaN,nan
5,You Only Live Twice,1967,Sean Connery,Lewis Gilbert,514.2,59.9,4.4,nan
6,On Her Majesty's Secret Service,1969,George Lazenby,Peter R. Hunt,291.5,37.3,0.6,nan
7,Diamonds Are Forever,1971,Sean Connery,Guy Hamilton,442.5,34.7,5.8,nan
8,Live and Let Die,1973,Roger Moore,Guy Hamilton,460.3,30.8,NaN,nan
9,The Man with the Golden Gun,1974,Roger Moore,Guy Hamilton,334.0,27.7,NaN,nan
10,The Spy Who Loved Me,1977,Roger Moore,Lewis Gilbert,533.0,45.1,NaN,nan
12,For Your Eyes Only,1981,Roger Moore,John Glen,449.4,60.2,NaN,nan
13,Never Say Never Again,1983,Sean Connery,Irvin Kershner,380.0,86.0,NaN,nan
14,Octopussy,1983,Roger Moore,John Glen,373.8,53.9,7.8,nan
15,A View to a Kill,1985,Roger Moore,John Glen,275.2,54.5,9.1,nan
16,The Living Daylights,1987,Timothy Dalton,John Glen,313.5,68.8,5.2,nan
17,Licence to Kill,1989,Timothy Dalton,John Glen,250.9,56.7,7.9,nan
18,GoldenEye,1995,Pierce Brosnan,Martin Campbell,518.5,76.9,5.1,nan
19,Tomorrow Never Dies,1997,Pierce Brosnan,Roger Spottiswoode,463.2,133.9,10.0,nan
20,The World Is Not Enough,1999,Pierce Brosnan,Michael Apted,439.5,158.3,13.5,nan
21,Die Another Day,2002,Pierce Brosnan,Lee Tamahori,465.4,154.2,17.9,nan
22,Casino Royale,2006,Daniel Craig,Martin Campbell,581.5,145.3,3.3,nan
23,Quantum of Solace,2008,Daniel Craig,Marc Forster,514.2,181.4,8.1,nan
24,Skyfall,2012,Daniel Craig,Sam Mendes,943.5,170.2,14.5,nan
25,spectrum,2015,Daniel Craig,Sam Mendes,726.7,206.3,NaN,spectrum