### Dictionary:

•Unordered

•Mutable in nature

•Defined in key:value pair

•Created through {}

•Keys are unique but values can be duplicate

In [1]:
#implementation
d = {'Name':'Aditya','Age':20,'Section':'BCADS21','Dept':'BCA'}
print(d)

{'Name': 'Aditya', 'Age': 20, 'Section': 'BCADS21', 'Dept': 'BCA'}

In [2]:
#accessing values through keys
print(d['Name'])

Aditya

In [4]:
#accessing all keys at same time
for i in d:
    print(i)

Name
Age
Section
Dept

In [7]:
#accessing all keys with their respective values
for i in d:
    print(i)
    print(d[i])

Name
Aditya
Age
20
Section
BCADS21
Dept
BCA

In [27]:
#different way to create dictionary
dic = {
    'Date':'10-11-2023',
    'Role':'MLSA',
    'Name':'Aditya',
    'Age':20,
    'Credit':150
}
print(dic)

{'Date': '10-11-2023', 'Role': 'MLSA', 'Name': 'Aditya', 'Age': 20, 'Credit': 150}

In [16]:
for i in dic:
    print(i)
    print(dic[i])

Date
10-11-2023
Role
MLSA
Name
Aditya
Age
20
Credit
150

### Methods in dictionary:

In [17]:
dic = {
    'Date':'10-11-2023',
    'Role':'MLSA',
    'Name':'Aditya',
    'Age':20,
    'Credit':150
}

In [18]:
#returns value of keys
dic.get('Date')

'10-11-2023'

In [20]:
#returns all keys of dictionary
dic.keys()

dict_keys(['Date', 'Role', 'Name', 'Age', 'Credit'])

In [22]:
for i in dic.keys():
    print(i)

Date
Role
Name
Age
Credit

In [21]:
#returns value of all keys
dic.values()

dict_values(['10-11-2023', 'MLSA', 'Aditya', 20, 150])

In [23]:
for i in dic.values():
    print(i)

10-11-2023
MLSA
Aditya
20
150

In [24]:
#returns pair of keys and value that are present in dictionary
dic.items()

dict_items([('Date', '10-11-2023'), ('Role', 'MLSA'), ('Name', 'Aditya'), ('Age', 20), ('Credit', 150)])

In [28]:
for i,j in dic.items():
    print(i,':',j)

Date : 10-11-2023
Role : MLSA
Name : Aditya
Age : 20
Credit : 150

In [39]:
dc = {
    'Language':'Python',
    'Fees':9000,
    'Duration':'2 Months'
}

In [40]:
#deletes items from dictionary
del dc['Duration']
print(dc)

{'Language': 'Python', 'Fees': 9000}

In [41]:
#delete items from dictionary as well as returns deleted item
a = dc.pop('Fees')
print(a)
print(dc)

9000
{'Language': 'Python'}

In [42]:
dic = {
    'Date':'10-11-2023',
    'Role':'MLSA',
    'Name':'Aditya',
    'Age':20,
    'Credit':150
}

In [43]:
#updating values in dictionary
dic['Name'] = 'Mahir'
print(dic)

{'Date': '10-11-2023', 'Role': 'MLSA', 'Name': 'Mahir', 'Age': 20, 'Credit': 150}

In [44]:
#implementation of nnested dictionary
course = {
    'Python':{'Duration':'2 Months','Fees':8000},
    'C++':{'Duration':'4 Months','Fees':16000},
    'Java':{'Duration':'3 Months','Fees':12000}
}
print(course)

{'Python': {'Duration': '2 Months', 'Fees': 8000}, 'C++': {'Duration': '4 Months', 'Fees': 16000}, 'Java': {'Duration': '3 Months', 'Fees': 12000}}

In [46]:
#accessing items of nested dictionary
for i in course:
    print(i)
    print(course[i])

Python
{'Duration': '2 Months', 'Fees': 8000}
C++
{'Duration': '4 Months', 'Fees': 16000}
Java
{'Duration': '3 Months', 'Fees': 12000}

In [47]:
for i,j in course.items():
    print(i,':',j)

Python : {'Duration': '2 Months', 'Fees': 8000}
C++ : {'Duration': '4 Months', 'Fees': 16000}
Java : {'Duration': '3 Months', 'Fees': 12000}

In [49]:
#accessing values of a specific dictionary inside nested dictionary
print(course['Python'],['Duration'])

2 Months

In [52]:
for i,j in course.items():
    print(i,j['Duration'],j['Fees'])

Python 2 Months 8000
C++ 4 Months 16000
Java 3 Months 12000