In [1]:
import pandas as pd

**Join**

In [2]:
var = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var1 = pd.DataFrame({"C":[10,20,30,40],"D":[11,22,33,44]})

In [4]:
#join() is used to join two DataFrames
var.join(var1)

   A   B   C   D
0  1  11  10  11
1  2  12  20  22
2  3  13  30  33
3  4  14  40  44

In [5]:
var = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]})
var1 = pd.DataFrame({"C":[10,20],"D":[11,22]})

var.join(var1)

   A   B     C     D
0  1  11  10.0  11.0
1  2  12  20.0  22.0
2  3  13   NaN   NaN
3  4  14   NaN   NaN

In [6]:
#CHANGING INDEX OF DATAFRAME USING index =[] parameter
var = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=['a','b','c','d'])
var1 = pd.DataFrame({"C":[10,20],"D":[11,22]})

var.join(var1)

   A   B   C   D
a  1  11 NaN NaN
b  2  12 NaN NaN
c  3  13 NaN NaN
d  4  14 NaN NaN

In [10]:
var = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=['a','b','c','d'])
var1 = pd.DataFrame({"C":[10,20],"D":[11,22]},index=['a','b'])

var.join(var1)

   A   B     C     D
a  1  11  10.0  11.0
b  2  12  20.0  22.0
c  3  13   NaN   NaN
d  4  14   NaN   NaN

In [11]:
#putting var1 before var
var1.join(var)

    C   D  A   B
a  10  11  1  11
b  20  22  2  12

***In the above data frame some of the values of var is missing
This is because we had made var1 as primary data frame in join function which contains only two data
thats why it adjusted the secondary data frame var according to it***

In [13]:
var1.join(var, how = "left")

    C   D  A   B
a  10  11  1  11
b  20  22  2  12

In [14]:
var1.join(var, how = "right")

      C     D  A   B
a  10.0  11.0  1  11
b  20.0  22.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14

In [18]:
#works as union
#shows combination of both data
var1.join(var, how="outer")

      C     D  A   B
a  10.0  11.0  1  11
b  20.0  22.0  2  12
c   NaN   NaN  3  13
d   NaN   NaN  4  14

In [19]:
#works as intersection
#shows common value between two data
var1.join(var, how="inner")

    C   D  A   B
a  10  11  1  11
b  20  22  2  12

In [20]:
var = pd.DataFrame({"A":[1,2,3,4],"B":[11,12,13,14]}, index=['a','b','c','d'])
var1 = pd.DataFrame({"C":[10,20],"B":[11,22]},index=['a','b'])

var1.join(var)

ValueError: columns overlap but no suffix specified: Index(['B'], dtype='object')

In [21]:
#solving abobe error
var1.join(var, how="outer", lsuffix="_1", rsuffix="_2")

      C   B_1  A  B_2
a  10.0  11.0  1   11
b  20.0  22.0  2   12
c   NaN   NaN  3   13
d   NaN   NaN  4   14